@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Medium.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Medium.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Medium.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Medium.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Medium.ttf')) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Bold.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Bold.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Bold.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Bold.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Bold.ttf')) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Italic.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Italic.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Italic.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Italic.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Italic.ttf')) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-LightItalic.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-LightItalic.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-LightItalic.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-LightItalic.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-LightItalic.ttf')) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-MediumItalic.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-MediumItalic.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-MediumItalic.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-MediumItalic.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-MediumItalic.ttf')) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Light.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Light.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Light.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Light.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Light.ttf')) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Regular.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Regular.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Regular.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Regular.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-Regular.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Corp';
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-BoldItalic.eot'));
    src: asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-BoldItalic.eot?#iefix')) format('embedded-opentype'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-BoldItalic.woff2')) format('woff2'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-BoldItalic.woff')) format('woff'),
        asset-url(font-path('AktivGroteskCorp/AktivGroteskCorp-BoldItalic.ttf')) format('truetype');
    font-weight: bold;
    font-style: italic;
}

