@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Thin.otf')) format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-ThinItalic.otf')) format('opentype');
    font-weight: 100;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-ExtraLight.otf')) format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-ExtraLightItalic.otf')) format('opentype');
    font-weight: 200;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Light.otf')) format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-LightItalic.otf')) format('opentype');
    font-weight: 300;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Regular.otf')) format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Italic.otf')) format('opentype');
    font-weight: 400;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Regular.otf')) format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Italic.otf')) format('opentype');
    font-weight: normal;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Medium.otf')) format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-MediumItalic.otf')) format('opentype');
    font-weight: 500;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-SemiBold.otf')) format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-SemiBoldItalic.otf')) format('opentype');
    font-weight: 600;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Bold.otf')) format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-BoldItalic.otf')) format('opentype');
    font-weight: 700;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Bold.otf')) format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-BoldItalic.otf')) format('opentype');
    font-weight: bold;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-ExtraBold.otf')) format('opentype');
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-ExtraBoldItalic.otf')) format('opentype');
    font-weight: 800;
    font-style: italic;
  }


@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-Black.otf')) format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat Black';
    src: asset-url(font-path('Montserrat/Montserrat-BlackItalic.otf')) format('opentype');
    font-weight: 900;
    font-style: italic;
  }


